<footer class="bg-white text-amber-600 dark:bg-gray-800 dark:text-amber-400 shadow text-center py-4">
  <p>&copy; {new Date().getFullYear()} Daffarizqy Prastowiyono. All rights reserved.</p>
</footer>
