<footer class="bg-white text-purple-700 font-semibold dark:bg-black dark:text-purple-400 shadow-md dark:shadow-lg text-center py-4">
  <p>&copy; {new Date().getFullYear()} Daffarizqy Prastowiyono. All rights reserved.</p>
</footer>
